<?xml version="1.0" encoding="UTF-8"?>
<atv>
  <head>
    <script src="http://trailers.apple.com/js/settings.js" />
  </head>
  <body>
    <listWithPreview id="SettingsPage">
      <header>
        <simpleHeader>
          <title>Settings</title>
        </simpleHeader>
      </header>
      <preview>
        <keyedPreview>
          <title>&#173;</title>
          <summary />
          <metadataKeys>
            <label>About</label>
            <label>Version</label>
            <label>Authors</label>
            <label>Homepage</label>
            <label>Forum</label>
          </metadataKeys>
          <metadataValues>
            <label>PopcornTV is a simple application that allows an Apple TV to play stream Movies and TV shows directly from torrents. It pulls from yts.to as well as the Popcorn Time TV API to allow for a smooth interface and ease of use.</label>
            <label>0.1.5 dev</label>
            <label>OstlerDev</label>
            <label>https://popcorntv.io</label>
            <label>https://discuss.popcorntime.io/t/popcorntv-bringing-popcorn-time-to-your-apple-tv/</label>
          </metadataValues>
          <image>http://trailers.apple.com/thumbnails/Logo.png</image>
        </keyedPreview>
      </preview>
      <menu>
        <sections>
          <menuSection>
            <header>
              <horizontalDivider alignment="left">
                <title>Settings</title>
              </horizontalDivider>
            </header>
            <items>
              <oneLineMenuItem id="TranscoderAction" onSelect="toggleSettings('TranscoderAction', 'Settings_Main')">
                <label>Prefered Quality</label>
                <rightLabel>720p</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="SubtitleRenderer" onSelect="toggleSettings('SubtitleRenderer', 'Settings_Main')">
                <label>Fanart</label>
                <rightLabel>On</rightLabel>
              </oneLineMenuItem>
              <oneLineMenuItem id="SubtitleSize" onSelect="toggleSettings('SubtitleSize', 'Settings_Main')">
                <label>Subtitle Support</label>
                <rightLabel>Not Implemented</rightLabel>
              </oneLineMenuItem>
            </items>
          </menuSection>
        </sections>
      </menu>
    </listWithPreview>
  </body>
</atv>